body{
    background-color: rgb(78, 77, 77);
}


.parent-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.button1{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}